/AccountOwnerServer/obj
/AccountOwnerServer/bin
/Contracts/obj
/Contracts/bin
/Entities/obj
/Entities/bin
/LoggerService/obj
/LoggerService/bin
/Repository/obj
/Repository/bin
/.vs/AccountOwnerServer/v16
/AccountOwnerServer/*.user
/Tests/obj
/Tests/bin
/.vs/AccountOwnerServer/DesignTimeBuild/*.dtbcache
/Integration/obj
/Integration/bin
/.vs/CodefreshDemo/v16/.suo
/.vs/CodefreshDemo/v16/Server/sqlite3/db.lock
/.vs/CodefreshDemo/v16/Server/sqlite3/storage.ide
/.vs/CodefreshDemo/v16/Server/sqlite3/storage.ide-shm
/.vs/CodefreshDemo/v16/Server/sqlite3/storage.ide-wal
